* {
    box-sizing: border-box;
}
body {
    font-family: 'Oxygen', sans-serif;
    z-index: 0;
}
.navbar-brand {
    text-align: center;
}
#pg-heading {
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    margin-left: .4em;
} 
#title {
    padding: 1.5em;
}
.mid {
    margin: 0;
}


#containerDiv1 {
    padding: 10px;
    padding-bottom: 50px;
    margin: 0 auto;
    width: 400px;
    margin-top: 40px;
    background-color:rgba(230, 229, 231, 0.747);
 

}
#containerDiv2 {
    border-radius: 6px;
    padding: 7px;
    width: 85%;
    background-color: #fff;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.heading {
    font-size: 1.3em;
    padding: 5px;
    color: rgba(0, 0, 0, 0.534);
}
#content {
    margin-left: -35px;
    list-style-type: none;
}
#content li {
    font-size: 1rem;
    background-color: rgba(245, 245, 245, 0.733);
    padding: 7px;   
    color: rgba(0, 0, 0, 0.507); 
}
#content li:hover {
    background-color: rgba(245, 245, 245, 0.226);
    cursor: pointer;
}
#name {
    padding: 4px;
    margin: 2px;
    font-size: 1rem;
    width: 70%;
    height: 40px;
    border: none;
}
 #containerDiv2 hr {
    color: rgba(7, 27, 27, 0.637);
    line-height: 2px;
}
#btn {
    margin-bottom: 5px;
    float: right;
    margin-right: 2px;
}
#btn :hover {
    cursor: pointer;
}


.panel-footer{
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 0;
}

